<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 202 PROJECT</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">

</head>
<body>

  <div class="hero-section" id="hero-section">
    <div class="nav" id="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="#hero-section" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">Nosotros</a></li>
        <li class="nav-item"><a href="#tours" class="nav-link">Tours</a></li>
        <li class="nav-item"><a href="#feedback" class="nav-link">Feedback</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contacto</a></li>
      </ul>
    </div>
    <div class="text-box">
        <h1 class="primary-text">The Great Outdoors</h1>
        <h2 class="secondary-text">Descubre lugares asombrosos alrededor del mundo!</h2>
        <a class="hero-btn" href="#about">Scroll Down</a>
    </div>
</div>


    <!-- NOSOTROS  -->

    <section class="container" id="about">
      <div class="inner-container">
          <div class="content-wrapper">
              <div class="image-column">
                  <img loading="lazy" src="https://images.unsplash.com/photo-1573843981267-be1999ff37cd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Description of image" class="lazy-image" data-aos="fade-right"/>
              </div>
              <div class="about-text-column">
                  <div class="text-wrapper" data-aos="fade-left">
                      <h2 class="about-title">Un Poco De Nosotros</h2>
                      <p class="about-text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et aspernatur voluptate excepturi totam vel, repellendus deserunt veritatis, reiciendis recusandae consequuntur assumenda rem? Earum beatae porro excepturi animi magni doloribus at.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- CARRUSEL TOURS  -->

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel-container">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Paris Francia</h5>
          <p>Es romántica, histórica y vibrante, llena de arte, cultura, y gastronomía..</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1597744733354-0499ea376fe9?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mykonos - Grecia</h5>
          <p>Es una isla griega vibrante, conocida por sus playas hermosas, vida nocturna animada, casas blancas y calles estrechas.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Venecia - Italia</h5>
          <p>Es una ciudad mágica con canales encantadores, arquitectura histórica, góndolas icónicas, y una atmósfera romántica que enamora a todos.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- TOURS -->

  <div class="tours" id="tours"> <h1>Tours</h1>
    <div class="tours-container">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
          <h3>PARIS</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
          <a href="#" class="btn-tours">COMPRAR</a>
        </div>
        </div>

        <div class="card">
          <img src="https://images.unsplash.com/photo-1597744733354-0499ea376fe9?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
            <h3>MYKONOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
            <a href="#" class="btn-tours">COMPRAR</a>
          </div>
          </div>

          <div class="card">
            <img src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
              <h3>VENECIA</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
              <a href="#" class="btn-tours">COMPRAR</a>
            </div>
            </div>
    </div>
  </div>

<!-- FEEDBACK -->

<section class="feedback" id="feedback">
  <div class="content">
    <div class="text-container">
      <h2 class="main-heading">HACEMOS FELICES A NUESTROS CLIENTES</h2>
      <section class="testimonial">
        <div class="testimonial-container">
          <div class="image-column">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/2ebde3a7de0024a2a62b00815197d6c2626e85bf8bcc51ac5e55e139028ca02c?apiKey=7bd693708ac842f5a1616f193d073ef7&"
              class="testimonial-image"
              alt=""
            />
          </div>
          <div class="text-column">
            <p class="testimonial-text">
              Me ayudaron a planear mi viaje a Grecia y todo salio increible, sin duda los volveria a contactar!
            </p>
          </div>
        </div>
      </section>
      <section class="testimonial">
        <div class="testimonial-container">
          <div class="image-column">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/9159a9c0676f7ecc0a43b8d20672f7bbaa5ab1d2c97d85bdd7db5284ed9401bd?apiKey=7bd693708ac842f5a1616f193d073ef7&"
              class="testimonial-image"
              alt=""
            />
          </div>
          <div class="text-column">
            <p class="testimonial-text">
              Siempre son atentos y se preocupan hasta el ultimo detalle para que disfrutes de tu viaje, servicio 11/10
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>
